@import './default.less';
@import './loading.less';
ul,li {
	list-style: none;
}
.clearfix {
	&::after {
		display: block;
		content: "";
		clear: both;
		visibility: hidden;
	}
}
.container {
	display: flex;
	.navLeft {
		width: 15%;
		min-width: 180px;
		height: calc(100vh);/*相当于100%高度*/
		background: #001529;
	}
	.main {
		flex: 1;
		background: @colorL;
		height: calc(100vh);
		overflow:auto;
	}
	.content {
		position: relative;
		padding: 20px;
	}
}
.contentWrap {
	background: #fff;
	border: 1px solid #e8e8e8;
	margin-top: -3px;
	.ant-table-wrapper {
		margin: 0 -2px 0 -1px;
	}
}

